@font-face {
    font-family: 'CanvaSans';
    src: url('Assets/Fonts/CanvaSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url('Assets/Fonts/LeagueSpartan.ttf') format('truetype');
}

@font-face {
    font-family: 'Quintessential';
    src: url('Assets/Fonts/Quintessential.ttf') format('truetype');
}

@font-face {
    font-family: 'TheSeason';
    src: url('Assets/Fonts/theseasons-reg.otf') format('woff');
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
}

.navbar-brand img {
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    max-height: 120px;
}

.nav-link-container {
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: #efefef;
    font-family: 'CanvaSans';
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0.5rem 2rem;
    cursor: pointer;
    text-decoration: none;
    transition: border-bottom 0.5s ease;
    width: auto;
}

.nav-link-container a:hover {
    color: #ffffff;
    font-weight: 900;
    text-shadow: 0 0 5px #ff0000,
        0 0 10px #ff0000,
        0 0 15px #ff0000,
        0 0 20px #ff0000;
}

.navbar_style {
    background-image: url('Assets/Images/Header/new-header.jpg');
    background-size: cover;
    background-position: center;
}

.navbar_btn_style {
    background-color: black;
}

.title_style {
    font-family: 'TheSeason';
    color: #ffffff;
    font-style: normal;
    font-size: 1.8rem;
    cursor: default;
    text-align: center;
    width: 100%;
}

.introduction_img_style {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;

}

.text_style {
    max-height: 100px;
    text-wrap: wrap;
    text-overflow: clip;
    overflow: hidden;
}


.button-container {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
}

/* Button styling */
.signup-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    /* Green background */
    color: white;
    position: absolute;
    top: 40vh;

}

/* Button styling */
.contactus-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    /* Green background */
    color: white;
    position: absolute;
    top: 68vh;
}

.joinus-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    /* Green background */
    color: white;
    position: absolute;
    top: 27vh;
}

.schedulecall-btn
{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    /* Green background */
    color: white;
    position: absolute;
    top: 52vh;
}

.floating-btn-left {
    height: 50pt;
    width: 130pt;
    transform-origin: left center;
    rotate: 90deg;
    left: 25px;
    margin-right: 20px;

    z-index: 10;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: small;
}

.floating-btn-right {
    height: 30pt;
    width: 80pt;
    transform-origin: right center;
    rotate: 90deg;
    right: 0;
    margin-right: 20px;
    z-index: 10;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: small;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: white;
}


.custom-spotlight-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}


.spotlight-carousel-container {
    display: grid;
    align-items: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    width: 85%;
}

.spotlight-carousel {
    display: flex;
    gap: 10px;
    align-items: start;
    transition: transform 0.5s ease-in-out;
    grid-column: 2 / 3;
    /* Center column */
}

.spotlight-book {
    transform: scale(0.9, 0.9);
    width: 325px;
    position: relative;
    overflow: hidden;
    height: auto;
    /* Adjust this height to match the height of your images */
}

.spotlight-book img {
    display: block;
    width: 100%;
    height: auto;
}

.spotlight-book:hover {
    transform: scale(1, 1);
}

.spotlight-book-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    cursor: default;
}

.spotlight-book:hover .spotlight-book-desc {
    visibility: visible;
    opacity: 1;
}

.author-card-container {
    display: block;
}

.author-image {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14rem;
    transition: transform 0.3s ease;
}

.author-image:hover {
    transform: scale(1.1) translateY(-1rem);
}

.author-desc {
    margin-top: 1rem;
    text-align: center;
    height: 100%;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}

.author-desc > p {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.author-card-container:hover .author-desc > p {
    opacity: 1;
}

.how-it-works, .publishing-services
{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 767.98px) {


    .nav-link {
        flex: 1 1 50%;
    }

    .introduction_img_style {
        width: 100%;
        object-fit: contain;
        object-position: center;
        height: auto;
    }

    .signup-btn {
        top: 65vh;
    }

    .contactus-btn {
        top: 83vh;
    }

    .joinus-btn {
        top: 50vh;
    }

    .schedulecall-btn
    {
        top: 70vh;
    }

    .author-card-container {
        width: 15hw;
    }
}